* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}



/*************************************************
*   Sections
*
*
*************************************************/

.dc-section {
    width: 100%;
    padding: 25px;
}

.dc-section-primary {
    background-color: #0091EA;
}

.dc-section-secondary {
    background-color: #313131;
}



/*************************************************
*   Containers
*
*
*************************************************/

.dc-container {

}



/*************************************************
*   Grid
*
*
*************************************************/

.dc-grid {
    display: grid;
}

.dc-grid-container {
    width: 100%;
    max-width: 1200px;
}

.dc-grid-row:before, .dc-grid-row:after {
    content:"";
    display: table ;
     clear:both;
}

[class*='dc-grid-col-'] {
    float: left;
    min-height: 1px;
    width: 6.25%;
    /* gutter */
    padding: 12px;
}

/*      columns     */
    .dc-grid-col-1 {width: 6.25%;}
    .dc-grid-col-2 {width: 12.5%;}
    .dc-grid-col-3 {width: 18.75%;}
    .dc-grid-col-4 {width: 25%;}
    .dc-grid-col-5 {width: 31.25%;}
    .dc-grid-col-6 {width: 37.5%;}
    .dc-grid-col-7 {width: 43.75%;}
    .dc-grid-col-8 {width: 50%;}
    .dc-grid-col-9 {width: 56.25%;}
    .dc-grid-col-10 {width: 62.5%;}
    .dc-grid-col-11 {width: 68.75%;}
    .dc-grid-col-12 {width: 75%;}
    .dc-grid-col-13 {width: 81.25%;}
    .dc-grid-col-14 {width: 87.5%;}
    .dc-grid-col-15 {width: 92.75%;}
    .dc-grid-col-16 {width: 100%;}

/*      row     */
    .dc-grid-row::after {
        content: "";
        clear: both;
        display: table;
    }
